body {
    background-color: #E4E1DB;
    max-width: 100%;
    background-image: url('./image/background.svg'); /* Вставте шлях до вашого зображення */
    background-size: cover; /* Зробити фон покриваючим */
    background-position: center center; /* Вирівняти фон по центру */
    background-repeat: no-repeat; /* Запобігти повторенню фону */
    background-attachment: fixed; /* Зфіксувати фон, щоб він не прокручувався разом із сторінкою */
}

.menunav {
    z-index: 3;
    position: fixed;
    background-color: #E4E1DB;
    left: 0px;
    top: 0px;
    width: 100%;
}

.menu_buttons {
    font-family: 'Molengo';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8056vw;
    line-height: 1.9583vw; 
    color: #000000;
    display: flex;
    justify-content: space-around;
}

#menu_button {
    margin-top: 1.8056vw; 
}

.header_text {
    margin-top: 7.3611vw; 
    width: 74.5147vw; 
    font-family: 'Italiana';
    font-style: normal;
    font-weight: 400;
    font-size: 6.6667vw; 
    line-height: 7.8819vw; 
    color: #000000;
    text-align: center;
    margin-left: 12.5vw; 
}

.header_photo {
    margin-left: 5.5556vw; 
    margin-top: 0.9722vw; 
}

.large_text {
    font-family: 'Molengo';
    font-style: normal;
    font-weight: 400;
    font-size: 2.1528vw;
    line-height: 2.5694vw; 
    color: #000000;
    margin-top: 4.8611vw; 
}

.small_text {
    margin-top: 3.6111vw; 
    font-family: 'Molengo';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5972vw; 
    line-height: 1.9444vw; 
    color: #000000;
}

#first_text {
    width: 50%;
    margin-left: 5.5556vw;
}

#second_text {
    width: 50%; 
    margin-left: 45%;
    text-align: end;
}

.image2 {
    margin-left: 40.1042vw; 
    margin-top: 2.5vw; 
}

#third_text {
    width: 50%;
    margin-left: 45%;
    text-align: end;
}

#fourth_text {
    margin-left: 5.9028vw; 
    width: 50%; 
}

.image3 {
    margin-left: 5.9028vw; 
    margin-top: 2.5vw; 
}

.image4 {
    margin-top: 2.5vw; 
    margin-left: 38.8194vw; 
}

.menuvar {
    display: flex;
}

button {
    margin-left: 3.4722vw; 
    font-family: 'Molengo';
    font-style: normal;
    font-weight: 400;
    font-size: 1.875vw; 
    line-height: 2.2222vw; 
    color: #000000;
    background: none;
    border: none;
    cursor: pointer;
}

.line {
    margin-top: 6.9444vw; 
    margin-bottom: 2.7083vw; 
}

.menuvar button {
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.menuvar button.active {
    opacity: 1;
}

.menu {
    display: none;
    transition: opacity 0.3s ease;
    opacity: 0;
}

.menu.show {
    display: block;
    opacity: 1;
}

li {
    list-style: none;
    font-family: 'Molengo';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5972vw; 
    line-height: 1.9444vw; 
    color: #000000;
    margin-top: 1.3889vw; 
}

.food {
    display: flex;
}

#price {
    opacity: 70%;
}

.shop {
    width: 100%;
    text-align: center;
    font-family: 'Italiana';
    font-style: normal;
    font-weight: 400;
    font-size: 6.6667vw; 
    line-height: 7.8819vw; 
    text-align: center;
    color: #000000;
}

.table {
    margin-left: 10.4167vw; 
}

#frame {
    margin-left: 24%; 
    width: 56%;
    height: 30.22vw;
}

#delivery {
    font-family: 'Molengo';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5972vw;
    line-height: 1.9444vw; 
    color: #000000;
}

input {
    border: none;
    height: 1.7361vw;
    width: 34.7222vw;  
    background-color: #D1C4AB;
}

textarea {
    border: none;
    height: 1.7361vw; 
    width: 34.7222vw; 
    background-color: #D1C4AB;
}

select {
    border: none;
    height: 1.7361vw;
    width: 34.7222vw; 
    background-color: #D1C4AB;
}

.frame2 {
    display: flex;
    margin-left: 5.625vw; 
}

#logos {
    width: 43.125vw; 
    font-family: 'Italiana';
    font-style: normal;
    font-weight: 400;
    font-size: 6.6667vw; 
    line-height: 7.8819vw; 
    margin-left: 5.625vw; 
    color: #000000;
}

footer {
    width: 100%;
    font-family: 'Molengo';
    font-style: normal;
    font-weight: 400;
    font-size: 1.0417vw; 
    line-height: 1.9444vw; 
    background-color: #D1C4AB;
    margin-top: 6.9444vw; 
}

img {
    max-width: 100%;
    height: auto;
}

div {
    max-width: 100%;
    margin: auto;
    height: auto;
}

h1 {
    max-width: 100%;
    height: auto;
}

.menu_small {
    display: none;
}

.menu_button {
    font-family: 'Molengo';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8056vw; 
    line-height: 2.2222vw;
    color: #000000;
    cursor: pointer;
}


@media only screen and (max-width: 600px) {
    .menu_buttons {
        display: none;
    }

    .menu_small {
        display: flex;
        justify-content: space-around;
    }
}

html {
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: #000000;
}




